.poll-view-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 25px;
  background-color: #f7f9fc;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.back-btn {
  background-color:  rgba(98,247,151,1);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-btn:hover {
  background-color:  rgb(59, 243, 123);
}

.poll-view-container h2 {
  color: #2c3e50;
  margin-bottom: 20px;
}

.options-list {
  list-style: none;
  padding: 0;
}

.options-list li {
  margin-bottom: 12px;
}

.option-btn {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: rgba(34,175,245,1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-btn:hover {
  background-color: #2980b9;
}

.vote-count {
  font-weight: bold;
  margin-left: 10px;
  background-color: #ecf0f1;
  color: #2c3e50;
  padding: 2px 8px;
  border-radius: 6px;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #34495e;
  margin-top: 50px;
}
