/* auth.css */
.auth-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px 25px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 25px;
  
  color: #343a40;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  padding: 12px 15px;
  border-radius: 8px;
  background-color: white;
  color: #343a40;;
  border: 1px solid #ced4da;
  font-size: 16px;
}

.auth-form input:focus {
  outline: none;
  border-color: #495057;
  box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.1);
}

.auth-form button {
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  background-color: rgba(34,175,245,1);
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.auth-form button:hover {
  background-color: rgb(11, 169, 248);
}

.auth-switch {
  margin-top: 15px;
  font-size: 14px;
  color: #495057;
}

.auth-switch a {
  color: rgba(34,175,245,1);
  text-decoration: none;
}

.auth-switch a:hover {
  text-decoration: underline;
}
